mat-card {
    cursor: pointer;
}

card-content {
    margin: 5%;
    width: 300px;
    height: 500px;
    border: 2px solid;
    align-items: center;

}

.img-container {
    width: 300px;
    height: 300px;
    border: 1px solid;
}

img {
    max-height:100%; 
    max-width:100%;
}

.text-container {
    height:200px;
}

