.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
    margin: 0;
    position: sticky;

}

header p {
    padding-top: 10px;
    font-size: 30px;
}