<div class="newnote-container">
    <mat-form-field appearance="outline"> 
      <mat-label>Title</mat-label>
      <input matInput
      class="input-group"
      type="text"
      [(ngModel)]="title"
      [(ngModel)]="titleChange">
    </mat-form-field>
    
    <div>
      <mat-form-field appearance="outline"> 
        <mat-label>Content</mat-label>
        <textarea matInput
          class="input-group"
          cols="30"
          rows="10"
          [(ngModel)]="content"
          [(ngModel)]="contentChange"
        ></textarea>
      </mat-form-field> 
    </div>


    <div>
      <button mat-raised-button
        type="submit"
        (click)="onClickRevert()"
        [disabled]="!(titleChange || contentChange)">
        Revert
      </button>
      <button mat-raised-button
        color="primary"
        type="submit"
        (click)="onClickSave()"
        [disabled]="!(titleChange || contentChange)">
        Save
      </button>
    </div>
</div>