.main-content{
    display: flex;
    flex-direction: row;
    width:100%;
    height:80%;

}

.note-titles-container{
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: rgb(126, 126, 236);
    
}

.newnote-container{
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: rgb(193, 193, 241);
}


.note-display{
    display:block;
}

.selected {
    background-color: #e60026;
}
