<div class="main-content">
    <div class="note-titles-container">
        <div class="titles">
            <h1>Notes</h1>
            <h1 (click)="onClickAdd()" style = "cursor: pointer;">[+]</h1>
        </div>
        
        <div *ngFor="let title of titles">
            <div class="titles">
                <h3 (click)="onClickTitle(title)" style="cursor: pointer;">{{ title }}</h3>
                <h3 (click)="onClickDelete(title)" style="cursor: pointer;">X</h3>
            </div>

        </div>   
    </div>

    <div class="newnote-container">
        <app-add-note-panel
            (titleExisted) = "getContent($event)"
            [titleBefore] = "title"
            [contentBefore] = "content"
        >
        </app-add-note-panel>
    </div>
   
</div>

