<div class="main-content">

    <div class="note-titles-container">
        Notes: <button mat-raised-button color="accent">[+]</button>
        <ul>
            <li *ngFor="let note of quicknotes" (click) = "showNoteDetail(note)" >
                <!-- [noteDetail]="note"
                [ngStyle]="{
                'background-color': note.title === FocusId ? 'orange' : 'silver',
                color: note.title === FocusId ? 'gold' : 'white'
                }"
                (userInfoEmiter)="getFocus($event)" -->
                

                <mat-card-title> {{ note.title }} 
                    <button class="delete">X</button>
                </mat-card-title>
            </li>
        </ul>    
    </div>

    <div class="newnote-container">
        <app-add-note-panel [noteDetail]="noteToShow"></app-add-note-panel>
    </div>
   
</div>

