* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    text-align: center;
    border: 5px solid;
    border-color: rgb(124, 169, 236);
  }
  
  .header-container {
    padding: 30px 20px 20px 20px;
    border-style: solid;
    border-color: blue;
    border-width: 2px 2px 0px 2px;
    display: inline-block;
    vertical-align: middle;
  }

  .header{
    padding-bottom: 20px;
  }
  
  .patienform {
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    align-items: center;
    padding-top: 20px;
    
  }

  .input-container {
    height: 60px;
  }
  
  form input{
    height: 30px;
    width: 150px;
    text-align: center;
  }

  .continueBtn {
    width: 100px;
    height: 30px;
    background-color: red;
    margin: 10px;
    color: white;
    border: none;
    transition-duration: 0.4s;
    margin-bottom: 50px;
    border-radius: 5px;
  }

  .continueBtn:hover {
    background-color: #fd5f5c; /* Green */
    color: white;
  }
  
  .errormessage {
    color: red;
  }
  
  .red {
    color: red;
  }
  