<div class="container">
  <div class="header-container">
    <div class="header">
      <h3>Medical Care Center</h3>
    </div>
    <p>Hi there, let's confirm it's you</p>
    <p>Enter the patients date of birth and ZIP code to start check-in</p>
  </div>

  <form class="patienform" [formGroup]="Info" (ngSubmit) = "onSubmit()">
    <div class="input-container">
      <p>Patien's date of birth</p>
      <input type="date" formControlName="dob" />
    </div>
    <div class="input-container">
      <p>Patient's zipcode</p>
      <input 
        type="text" 
        pattern="[0-9]{5}" 
        formControlName="zip" />
      <div
        class="red"
        *ngIf="!zip?.valid && ((zip?.dirty && zip?.touched) || formError)"
      >
        Zipcode must be exactly 5 digit number!
      </div>
    </div>
     
    <button class="continueBtn" (click)="onSubmit()">continue</button>


  </form>
</div>
