* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }
  
body{
    color: red;
    background-color: red;
}

.navbar {
    background-color: #4f4d53;
}